body {
	box-sizing: border-box;
}

header {
	text-align: center;
}

form {
	margin: 10px;
}

input[type="text"] {
	width: 95%;
	margin: 10px;
	border-radius: 5%;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.image { 
   position: relative; 
   text-align: center;
   color: white;
   border: black solid 2px;
   background-color: pink;
 }

.top-center {
    position: absolute;
    top: 5%;
    left: 45%;
    border: black solid 2px;
}

.bottom-center {
	position: absolute;
	bottom: 5%;
	left: 45%;
	border: black solid 2px;
}